[Unit]
Description=self etcd service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill etcd 
ExecStartPre=-/usr/bin/docker rm etcd 
ExecStart=/usr/bin/docker run --name etcd -v /mirror/etcd:/etcd/data -p 8001:4001 -e ETCD_DATA_DIR=/etcd/data duffqiu/etcd
ExecStop=-/usr/bin/docker stop etcd
estart=always
RestartSec=10s
LimitNOFILE=40000
